@import 'pretendard/dist/web/variable/pretendardvariable.css';
@import "tailwindcss";

* {
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f3f4f6; /* 배경 */
    display: flex;
    justify-content: center;   /* 가로 가운데 정렬 */
    align-items: center;       /* 세로 가운데 정렬 */
    min-height: 100vh;         /* 모니터 꽉 차게 */
}

#root {
    width: 402px;
    height: 874px;
    background-color: #ffffff; /* 내부 배경 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
    /* 크기 고정 핵심 설정 */
    min-width: 402px;
    max-width: 402px;
    min-height: 874px;
    max-height: 874px;
    
    /* 화면 크기를 벗어나는 내용은 스크롤바로 처리 */
    overflow-y: hidden; 
    
    position: relative;
}